.Commandes{
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr .5fr;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    background-color: darkgreen;
    align-items: flex-end;

    .btnRetour{
        justify-self: center;
    }

    .btnBataille{
        justify-self: center;
    }

    .btnAlbum{
        justify-self: center;
    }

}